<div class="album py-5">
    <div class="container">
        <h1 class="my-2">RSS Feeds</h1>

        <div class="mb-3">
            <a href="/add-feed" class="btn btn-primary">Add Feed</a>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            @for (feed of feeds; track $index) {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="my-2">{{feed.name}}</h5>
                        </div>
                        <div class="card-body">
                            <h6>Latest:</h6>
                            <ul class="list-group list-group-flush">
                                @for (article of feed.articles; track $index) {
                                    <li class="list-group-item">
                                        <a href="{{article.link}}" target="_blank">{{article.title}}</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="card-footer">
                            <app-delete-feed [id]="feed._id" (onDelete)="getFeeds()"></app-delete-feed>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>    